<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="DBConnectionString" connectionString="data source=204.48.123.100;Initial Catalog=TIHTest;Persist Security Info=True;User ID=developer;Password=d3vel0p3r" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>